.admin-container {
  padding: 30px;
  width: 100%;
}

.admin-container h2 {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background: #111827;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
}

tbody tr:hover {
  background: #f3f4f6;
}

.actions button {
  margin: 4px;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.approve {
  background: #2563eb;
  color: white;
}

.reject {
  background: #dc2626;
  color: white;
}

.no-data {
  padding: 20px;
  font-weight: 500;
}